@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: "IBM Plex Sans";
}

.stopwatchContainer{
    max-width: 500px; 
    padding: 10px 30px;
    margin: 0 auto;
    overflow:hidden;
    max-height: calc(100vh - 20px);
}
.timer{
    font-weight: 200;
    text-align: center;
    font-size: 97px;
    margin: 125px 0;
}
.hidden{
    display: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons .button{
    border-radius: 100%;
    font-size: 16px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    user-select: none;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.3s;
}
.grayButton{
    background-color: #333333;
    color: rgb(231, 231, 231);
    outline: 2px solid #333333;
}
.redButton{
    background-color: #350D0B;
    color: #d56f7d;
    outline: 2px solid #350D0B;
}
.greenButton{
    background-color: #092A0F;
    color: #629f71;
    outline: 2px solid #092A0F;
}
.buttons .button:hover{
    filter: brightness(1.3);
}
.buttons .button:active{
    filter: brightness(1.5);
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
li.item{
    line-height: 45px;
    padding: 0 10px;
    border-bottom: #2e2e2e 1px solid;
    height: 45px;
    display: flex;
    justify-content: space-between;
}
ul.list{
    margin-top: 45px;
    border-top: #2e2e2e 1px solid;
}